.d-dashboard {
  padding: 1.8rem 2.4rem;
  border: 1px solid #5c5c5c34;
  border-radius: 12px;
  background-color: #161616;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.d-heading {
  font-size: 2.8rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

.d-subhead {
  font-size: 2.4rem;
  min-width: 48rem;

  color: #fff;
  margin: 0;
  padding: 0;
}

.d-careers {
  display: flex;
  gap: 2rem;
  margin-top: 1.6rem;
}

.d-improv-heading {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.d-showmore {
  color: #fff;
  height: 22px;
  width: 23px;
}

.d-improvements {
  margin-top: 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.d-improvement {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 1.6rem;
  padding-left: 1.2rem;
}

.d-career {
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  background-color: #14efc5;
}

.d-career-selected {
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  background-color: #de1b89;
  color: #fff;
}

.hidden {
  display: none;
}

.d-roadmaps {
  color: #fff;
  padding-left: 1.2rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.6rem;
}

.d-roadmap:nth-child(n + 7) {
  display: none;
}

.d-roadmap {
  margin: 0;
  padding: 0;
}

.roadmap {
  margin: 0;
  padding: 0;
}
