.e-row {
  display: flex;
}

.e-p {
  margin: 0;
  background-color: #fff;
  font-size: 1.4rem;
  padding: 0.8rem;
}

.e-col {
  display: flex;
  flex-direction: column;
}

.input {
  width: 80rem;
}

.t {
  width: 12rem;
}

.bl {
  border-left: 2px solid #000;
}

.br {
  border-right: 2px solid #000;
}

.bt {
  border-top: 2px solid #000;
}

.bb {
  border-bottom: 2px solid #000;
}

.download {
  padding: 1.2rem 2rem;
  background-color: #ff0090;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
}
